body {
  font-family: 'Encode Sans', sans-serif; /* Use a fonte "Encode Sans" como primeira opção */
  margin: 0;
  padding: 0;
  background-color: #202227;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Adicione mais estilos conforme necessário para seus componentes */
