/* Card.module.css */

.card {
    width: 80%;
    max-width: 400px; /* Defina a largura máxima desejada para o card */
    border-radius: 9px; /* Borda arredondada */
    overflow: hidden; /* Para garantir que a imagem não ultrapasse o card */
    cursor: pointer;
    border: 2px solid #657ef900; /* Adicione uma borda opcional */

}

.card:hover{
    border: 2px solid #657EF9; /* Adicione uma borda opcional */

}

.cardImage {
    width: 100%;
    max-height: 37rem; /* Defina a altura máxima desejada para a imagem */
    object-fit: cover; /* Isso manterá a proporção e cortará a imagem, se necessário */
}

.cardTitle {
    background-color: #0D0D0D; /* Cor de fundo para o título */
    color: #C3C9FF; /* Cor do texto do título */
    text-align: center;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
