body {
    background-image: url('../../assets/Images/passos-magicos1.png'); z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: clamp(30%, 75vw, 100%); /* Use clamp para dimensionar a largura de 30% a 100% */
    margin-top: clamp(-15rem, 10vw, -10rem); /* Use clamp para ajustar a margem superior */
}

.right {
    width: clamp(20%, 25vw, 30%); /* Use clamp para dimensionar a largura de 20% a 30% */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: clamp(2rem, 2vw, 4rem); /* Use clamp para ajustar o espaçamento entre os ícones */
    margin-top: clamp(10rem, 10vw, 20rem); /* Use clamp para ajustar a margem superior */
}

.centerVertically {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: clamp(12px, 3vw, 30px); /* Use clamp para ajustar o tamanho dos ícones */
    color: #ffffff;
    cursor: pointer;
}

.text {
    margin-top: clamp(15rem, 10vw, 11rem);
    margin-left: clamp(10px, 10vw, 11rem);
}

.titulo {
    color: #C3C9FF;
    font-size: clamp(30px, 5vw, 50px);
    text-align: left;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: clamp(10px, 2vw, 21px);
}

.titulo h1 {
    margin-top: clamp(0.5rem, 2vw, 4rem);
}

.subTitulo {
    font-size: clamp(15px, 3vw, 25px);
    color: #fff;
    letter-spacing: clamp(4px, 1vw, 10px);
}

.legenda {
    padding-top: clamp(2rem, 3vw, 3rem);
    color: #fff;
    max-width: 41rem;
    font-size: clamp(15px, 1vw, 17px);
    letter-spacing: clamp(1px, 1vw, 2px); /* Ajuste o valor mínimo */
    line-height: clamp(1.5, 1vw, 2); /* Ajuste o valor mínimo */
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: clamp(6rem, 5vw, 10rem); /* Use clamp para ajustar a margem superior */
    margin-left: clamp(25rem, 20vw, 30rem); /* Use clamp para ajustar a margem esquerda */
}

@media (max-width: 768px) {
    .titulo {
        margin-top: clamp(8rem, 5vw, 10rem); /* Use clamp para ajustar a margem superior */
    }
    .legenda {
        margin-right: clamp(10px, 10vw, 11rem);
    }
    .right {
        flex-direction: column;
        margin-top: clamp(2rem, 5vw, 5rem); /* Use clamp para ajustar a margem superior */
    }
    .centerVertically {
        flex-direction: column;
    }
    .botao{
        margin-left: 9rem;
    }
}
