.button {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    background-color: white;
    color: black;
}

.button:hover{
    background-color: rgb(128, 128, 128);
}

.profile {
    border: 1px solid red;
    background-color: white;
    color: black;
    display: flex;
}